@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --box-shadow-left: 2px 2px 5px #d9d9d9;
    --box-shadow-right: -2px -2px 5px #ffffff;
    --card-box-radius: 8px;
    --card-icon-font-size: 2.4rem;
    --card-bg-color: #ffffffe7;
    --small-header-font-color: rgba(97, 97, 97, 0.603);
    --header-and-value-font-color: #2e4a66;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px, 0.5fr) 1fr 1fr 1fr;
    grid-template-rows: 60px 3fr;
    grid-template-areas: 
    "sidebar nav nav nav"
    "sidebar main main main";
}

#nav {
    grid-area: nav;
    background: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
}

.nav_icon {
    display: none;
}

.nav__item__left > a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgba(97, 97, 97, 0.603);
}

.nav__item__left > a:hover {
    color: #6466fae7;
}

.searchbar {
    display: flex;
}

.searchbar > input {
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    border: 1px solid lightgray
}

.search_glass {
    background-color: #ffffff;
    margin-left: 10px;
    height: 30px;
    width: 50px;
    border: none;
}

.search_glass:active {
    background-color: lightgray;
    border-radius: 5px;
}

.main-content {
    grid-area: main;

    background-color: #f3f4f6;
    overflow-y: auto;
    padding: 25px;
}

.greeting_logo {
    display: flex;
    height: 150px;
    object-fit: contain;
}

.greeting_logo > .welcome_msg {
    margin-left: 25px;
    align-self: center;
}

.welcome_msg > * {
    margin-top: 25px;
}

.welcome_title {
    color: var(--header-and-value-font-color);
    font-size: 1.8rem;
}

.main-content-text-format {
    color: var(--small-header-font-color);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 50px;
    gap: 25px;
}

.card {
    height: 100px;
    padding: 25px;

    display: grid;
    justify-items: center;
    align-items: center;

    background-color: var(--card-bg-color);
    border-radius: var(--card-box-radius);
    box-shadow: var(--box-shadow-left), var(--box-shadow-right);
}

.stat__section {
    display: flex;
}

.stat__name {
    color: var(--small-header-font-color);
    align-self: center;
}

.stat__value {
    margin-left: 25px;
    font-size: var(--card-icon-font-size);
    color: var(--header-and-value-font-color);
}

.fa-user {
    color: blue;
    font-size: var(--card-icon-font-size)
}

.fa-calendar-days {
    color: red;
    font-size: var(--card-icon-font-size);
}

.fa-video {
    color: gold;
    font-size: var(--card-icon-font-size);
}

.fa-thumbs-up {
    color: green;
    font-size: var(--card-icon-font-size);
}

.charts {
    margin-top: 65px;
        
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
    gap: 25px;
}

.left__chart {
    padding: 25px;
    background-color: var(--card-bg-color);
    border-radius: var(--card-box-radius);
    box-shadow: var(--box-shadow-left), var(--box-shadow-right);
}

.left__chart .left__header {
    display: flex;
    justify-content: space-between;
}

.left__chart .fa-comment-dollar {
    font-size: var(--card-icon-font-size);
    color: #ffc100;
}

.chart__title > h2 {
    font-size: var(--card-icon-font-size);
    color: var(--header-and-value-font-color);
}

.chart__title > p {
    margin-top: 10px;
    color: var(--small-header-font-color);
}

#apex1 {margin-top: 30px;}

.right__chart {
    padding: 25px;
    background-color: var(--card-bg-color);
    border-radius: var(--card-box-radius);
    box-shadow: var(--box-shadow-left), var(--box-shadow-right);
}

.right__chart .right__header {
    display: flex;
    justify-content: space-between;
}

.right__chart .fa-comment-dollar {
    font-size: var(--card-icon-font-size);
    color: #39447a;
}

.stat__cards {
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    gap: 30px;
}

.stat {
    display: grid;
    justify-items: center;
    align-items: center;

    height: 150px;
    border-radius: 5px;
}

.stat > p:first-child {
    font-size: 2rem;
}

.card1 {
    background: #d1ecf1;
    color: #35a4ba;
}

.card2 {
    background: #d2f9ee;
    color: #38e1b0;
}

.card3 {
    background: #d6d8d9;
    color: #3a3e41;
}

.card4 {
    background: #fddcdf;
    color: #f65a6f;
}

#sidebar {
    grid-area: sidebar;
    background: #020509;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    transition: all 0.5s;
}

.sidebar_icon {
    color: #f3f4f6;
}

#sidebarIcon {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    object-fit: contain;
    width: 100px;
}

.sidebar_grid > div:first-child {
    margin-top: 20px;
}

.dashboard_link {
    display: grid;
    grid-template-columns: 25px 200px;
    justify-content: start;
    align-items: center;
}

.dashboard_link > i {
    font-size: 1rem;
    color: #f3f4f6;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.dashboard_link > a {
    margin-left: 10px;
}

.side_bar_title {
    color: #f3f4f6;
    text-decoration: none;
    font-size: 1rem;
}

.dash-title {
    color: #3ea175;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__logout {
    margin-top: 100px;
}

.sidebar__logout > i {
    color: red;
}

.logout {
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
}

#sidebar.responsiveness {
    display: inline;
    z-index: 9999;
    left: 0;
    position: absolute;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 990px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "main";
    }

    .nav_icon {
        display: block;
    }

    #sidebar {
        display: none;
    }
}

@media only screen and (max-width: 855px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .nav__item__left {
        display: none;
    }

    #sidebarIcon {
        display: block;
        font-size: 24px;
        margin-top: 100px;
        text-align: end;
    }

    .open_sidebar {
        width: 30px;
    }
}

